<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mesh Portfolio</title>
        <link rel="stylesheet" href="/project/static/style.css">
        <script src="/project/script.js" defer></script>

        <section>
            <h1>Blue Mesh Portfolio</h1>
        </section>
    </head>
    <body>
        <div id="loading">
            <div id="loading-screen"></div>
        </div>
        <div>
            <a href="MySelf.html">
                <h2>My Self</h2>
                <h4>青メッシュの生態</h4>
            </a>
            <a href="skill.html">
                <h2>Skill</h2>
                <h4>技術スタック</h4>
            </a>
            <a href="Products.html">
                <h2>Products</h2>
                <h4>制作物</h4>
            </a>
        </div>
        <br>
        <div>
            <h4>X(Twitter):<a href="https://x.com/Blue_Me_sh">@Blue_Me_sh</a></h4>
            <h4>GitHub:<a href="https://github.com/IshimaruNozomi">https://github.com/IshimaruNozomi</a></h4>
        </div>
    </body>
</html>