<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mesh Portfolio</title>
        <link rel="stylesheet" href="/project/static/style.css">
        <script src="/project/script.js" defer></script>
    </head>
    <body>
        <div>
            <h1>My Self</h1>
            <h4>青メッシュの生態です</h4>
            <br>
            <h2>石丸　希　Nozomi Ishimaru</h2>
            <h3>2004年04月07日生まれ　山口県出身</h3>
            <h3>武蔵野大学データサイエンス学部 BohPJ所属</h3>
        </div>
        <div>
            <h2>学歴</h2>
            <h3>2023年3月　山口県立高森高等学校 普通科 特進コース卒業</h3>
            <h3>2023年4月　武蔵野大学 データサイエンス学部入学</h3>
            <h3>2027年3月　武蔵野大学 データサイエンス学部卒業予定</h3>
        </div>
        <div>
            <h2>受賞歴</h2>
            <h3>あるわけないんですよね</h3>
        </div>
        <div>
            <h2>かくことない</h2>
        </div>
    </body>
</html>