<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mesh Portfolio</title>
        <link rel="stylesheet" href="/project/static/style.css">
        <script src="/project/script.js" defer></script>
    </head>
    <body>
        <h1>Products</h1>
        <h3>過去これまでに作成したプロダクトです</h3>
        <div>
            <h2>Hang out Share</h2>
            <h3>遊ぶ予定を共有して友達を誘うためのSNS<br>
                アナタにおすすめのイベントもレコメンド！
            </h3>
            <h4>2024年2月MUENT短期チーム開発</h4>
        </div>
        <div>
            <h2>POP Share Library</h2>
            <h3>推し活に必須なグッズや推しを眺める雑誌などを<br>
                全部まとめて管理できちゃいます！！！</h3>
            <h4>2023年4月技育CAMP vol.4ハッカソン</h4>
        </div>
    </body>
</html>