<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mesh Portfolio</title>
        <link rel="stylesheet" href="/project/static/style.css">
        <script src="/project/script.js" defer></script>
    </head>
    <body>
        <div>
            <h1>フロントエンド</h1>
            <h2>HTMLCSS</h2>
            <h2>JavaScript</h2>
        </div>
        <div>
            <h1>バックエンド</h1>
            <h2>Python</h2>
        </div>
        <div>
            <h1>データサイエンス</h1>
            <h2>Python</h2>
        </div>
    </body>
</html>